.instagram{
    padding:3rem 0 6rem 0;
    h2{
        text-align: center;
        color: #707070;
        font-family: acier;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    p{
        text-align: center;
        font-family: acier;
        color: #707070;
        font-size: 1.1rem;
        a{
            color: #707070;
            text-decoration: none;
            transition: all ease-in-out .5s;
            &:hover{
                color: #000;
            }
        }
    }
}